
/* @import url('https://fonts.cdnfonts.com/css/proxima-nova-2');  */
@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


.SetFontLoTo{
    font-family: 'Roboto Condensed', sans-serif;
}

.SetFontProxima{
    font-family: 'proxima-nova', sans-serif;
}

.SetFontFutura{
    font-family: 'fantabular-sans-mvb', mono;
}

.setImgSection1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    width: 100%;
    padding-top: -50px;
    font-weight: bold;
    color: green;
}

.setImgSectio2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 84px;
    font-weight: bold;
    color: green;
}

.setImgSectio3 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: black
}

.setImgSectio4 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 84px;
    font-weight: bold;
    color: green;
}
.setimg {
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px;
    color: white;
}
.setPositionIMG img{
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.setPositionIMGnew img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.setPositionIMGnewpic img{
    width: 120%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.img-responsive {
    width: 100%;
}

.form-select{
    border: 0;
}
.card-img-top1 {
    height: auto;
    object-fit: cover;
}
.card-img-top2 {
    border-radius: 0;
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

.parallax-container{
    position: relative;
    overflow: hidden;
}
.teaser .content {
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
    width: 100%;
    transform: translate(0, -50%);
  }
  .parallax-window {
    min-height: 400px;
    background: transparent;
}

.card-img-top3 {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    background-color: black;
}
.card-img-top4 {
    border-radius: 0;
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.card-title1{
    font-size: 85px;
}
.card-title{
    font-size: 80px;
}
.card-title2{
    font-size: 85px;
}
.card-title4{
    font-size: 75px;
}

.setPositonPhone{
    text-align: start;
    margin: 0;
}
.setImgFooter{
    text-align: start;
}
.settextfooter{
    text-align: start;
}

@media only screen and (min-width: 320px) and (max-width: 900px){ 
    .teaser .content {
        position: absolute;
        top: 55%;
        text-align: center;
        color: white;
        width: 100%;
        transform: translate(0, -50%);
      }
    .card-img-top3 {
        border-radius: 0;
        width: 100%;
        height: 70vw;
        object-fit: cover;
    }
    .card-img-top4 {
        border-radius: 0;
        width: 100%;
        height: 80vw;
        object-fit: cover;
    }
    .card-img-top1 {
        border-radius: 0;
        width: 100%;
        height: 75vw;
        object-fit: cover;
    }
    .card-img-top2 {
        border-radius: 0;
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
    .card-title{
        font-size: 55px;
    }
    .card-title1{
        font-size: 55px;
    }
    .card-title3{
        font-size: 35px;
    }
    .card-title2{
        font-size: 55px;
    }
    .card-title4{
        font-size: 55px;
    }
    .setPositonPhone{
        text-align: center;
        margin: 0;
    }
    .setImgFooter{
        text-align: center;
    }
    .settextfooter{
        text-align: center;
    }
}