@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
.setImgSection1 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    width: 100%;
    padding-top: -50px;
    font-weight: bold;
    color: green;
}

.setImgSectio2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 84px;
    font-weight: bold;
    color: green;
}

.setImgSectio3 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: black
}

.setImgSectio4 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 84px;
    font-weight: bold;
    color: green;
}
.setimg {
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px;
    color: white;
}
.setPositionIMG img{
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.setPositionIMGnew img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.setPositionIMGnewpic img{
    width: 120%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.img-responsive {
    width: 100%;
}

.form-select{
    border: 0;
}
.card-img-top1 {
    border-radius: 0;
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
.card-img-top2 {
    border-radius: 0;
    width: 100%;
    height: 14vw;
    object-fit: cover;
}

.card-img-top3 {
    border-radius: 0;
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

@media only screen and (min-width: 375px) and (max-width: 900px){ 
    .card-img-top3 {
        border-radius: 0;
        width: 100%;
        height: 70vw;
        object-fit: cover;
    }
    .card-img-top1 {
        border-radius: 0;
        width: 100%;
        height: 75vw;
        object-fit: cover;
    }
    .card-img-top2 {
        border-radius: 0;
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
}